body {
  margin: 0;
  overflow: hidden;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: lightgrey;
}

.toolbar {
  display: flex;
  flex-direction: column;
  margin: 2px;
}
